<header id="header">
  <div id="head" class="parallax" data-parallax-speed="2" style="background-image:url('{{ .Site.BaseURL }}{{ .Site.Params.banner }}');">
    <h1 id="logo" class="text-center">
      <img class='img-{{ .Site.Params.avatarclass | default "circle"}}' src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}" alt="">
      <span class="title" style="color:white">{{ .Site.Params.name }}</span>
      <span class="tagline" style="color: white;">{{ .Site.Params.description }}<br>
        <a style="color: white;" href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
      </span>
   </h1>
</div>

{{ partial "head/menu.html" . }}
</header>